.page-header--pub{
	background: url("../img/pattern-pub.png") center top repeat $blue;
}


.s-previews-list{
	padding: 60px 0;
	overflow: hidden;
	@include res(s){
		padding: 30px 0;
	}

	&--narrow{
		.container{
			max-width: 1120px;
		}
	}
}

.preview-first{
	border: 5px solid #e3e3e3;
	padding: 40px 400px 40px 70px;
	margin-bottom: 50px;
	position: relative;
	min-height: 380px;
	@include res(l){
		padding: 40px 300px 40px 70px;
		min-height: 300px;
	}
	@include res(m){
		min-height: inherit;
		padding: 30px 30px 30px 70px;
	}
	@include res(xs){
		padding: 15px 15px 20px 50px;
		margin-bottom: 40px;
	}

	&__title{
		display: block;
		@extend %link-blue;
		margin-bottom: 20px;
		font-size: 36px;
		line-height: 1;
		font-weight: bold;
		font-family: $font-serif;
		@include res(l){
			font-size: 30px;
		}
		@include res(m){
			font-size: 24px;
		}
		@include res(xs){
			font-size: 20px;
		}
	}

	.timepanel{
		position: absolute;
		top: 30px;
		left: -5px;
		font-size: 12px;
		text-align: center;
		padding: 4px 12px 2px 12px;
		margin-right: 15px;
		@include res(m){
			top: 10px;
		}
		@include res(xs){
			padding: 4px 8px 2px 8px;
			font-size: 10px;
		}

		strong{
			font-size: 36px;
			@include res(xs){
				font-size: 24px;
			}
		}
	}

	.link{
		margin-top: 15px;
	}

	&__dekor{
		position: absolute;
		right: -5px;
		bottom: -5px;
		max-width: 360px;
		height: auto;
		@include res(l){
			max-width: 250px;
		}
		@include res(m){
			display: none;
		}
	}
}


.cat-select{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	@include res(s){
		flex-wrap: wrap;
		margin-bottom: 30px;
	}

	.lead{
		margin-right: 20px;
		flex-shrink: 1;
		@include res(s){
			margin-right: 0;
			margin-bottom: 15px;
			width: 100%;
			text-align: center;
		}
	}

	.style-select{
		position: relative;
		width: 450px;
		max-width: 100%;
		flex-shrink: 1;

		select{
			width: 100%;
			font-size: 18px;
			text-transform: uppercase;
			border: 2px solid $blue;
			-webkit-appearance: none;
			text-align: left;
			background: transparent;
			padding: 16px 50px 16px 20px;
			line-height: 1;
			color: $blue;
			border-radius: 0;
			@include res(l){
				font-size: 14px;
			}

			@include placeholder{
				text-transform: uppercase;
				color: $blue;
				line-height: 1;
			}

			&:focus{
				outline: none;
			}
		}

		i{
			position: absolute;
			z-index: 2;
			top: 15px;
			right: 14px;
			font-size: 22px;
			color: $blue;
			pointer-events: none;
			@include res(l){
				top: 13px;
			}
		}

		option{
			text-transform: none;
		}
	}

}