.disput-text-sec {
	.container{
		max-width: 990px;
		padding-top: 60px;
		padding-bottom: 60px;
		@include res(xl){
			max-width: 860px;
			//padding-top: 80px;
		}
		@include res(l){
			padding-top: 50px;
			padding-bottom: 50px;
		}
		@include res(m){
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
}